@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');

@import "tailwindcss";

html,body{
  padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.ltr {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.rtl {
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
}


/* theme */
@theme {
  --color-main :#506BFA;
  --color-black :#161616 ;
  --color-dark :#32353C;
  --color-light:#FBFBFB;
}

@utility container  {
  max-width:90%;
  padding:0px 20px;
  margin:auto;
}

.title {
  @apply text-lg font-bold text-black capitalize
}
button {
  @apply capitalize
}
